{% extends "layout.html.twig" %}
{% block body %}
<style type="text/css">
    body {padding-top:62px;}
    body, html {height:100%;}
    /* workaround modal-open padding issue */
    body.modal-open {padding-right:0 !important;}
    /* workaround bs 4 horizontal scrollbar */
    .container-fluid >.row {margin-left: -15px;margin-right: -10px;}
    #sidebar {padding-left:0;}
    /*
     * Off Canvas at medium breakpoint
     * --------------------------------------------------
     */
    @media screen and (max-width: 48em) {
        .row-offcanvas {position: relative;-webkit-transition: all 0.25s ease-out;-moz-transition: all 0.25s ease-out;transition: all 0.25s ease-out;}
        .row-offcanvas-left
        .sidebar-offcanvas {left: -33%;}
        .row-offcanvas-left.active {left: 33%;}
        .sidebar-offcanvas {background-color:#f6f6f6;position: absolute;top: 0;width: 33%;height: 100%;}
    }
    /*
     * Off Canvas wider at sm breakpoint
     * --------------------------------------------------
     */
    @media screen and (max-width: 34em) {
        .row-offcanvas-left
        .sidebar-offcanvas {left: -45%;}
        .row-offcanvas-left.active {left: 45%;}
        .sidebar-offcanvas {width: 45%;}
    }
    /* responsive nav stacked liked 3.x */
    @media(max-width:34em) {
        .navbar .navbar-brand {float:none;display: block;}
        .navbar .navbar-nav>.nav-item {float: none;margin-left: .1rem;}
        .navbar .navbar-nav {float:none !important;}
    }
    .card {overflow:hidden;}
    .card-block .rotate {z-index: 8;float: right;height: 100%;}
    .card-block .rotate i {
        color: rgba(20, 20, 20, 0.15);
        position: absolute;
        left: 0;
        left: auto;
        right: -10px;
        bottom: 0;
        display: block;
        -webkit-transform: rotate(-44deg);
        -moz-transform: rotate(-44deg);
        -o-transform: rotate(-44deg);
        -ms-transform: rotate(-44deg);
        transform: rotate(-44deg);
    }
</style>
<div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-item"><a class="nav-link" href="index.php?run=new_recette">Créer une recette</a></li>
            </ul>
        </div>
        <!--/col-->
        <div class="col-md-9 col-lg-10 main">
            <!--toggle sidebar button-->
            <p class="hidden-md-up">
                <button type="button" class="btn btn-primary-outline btn-sm" data-toggle="offcanvas"><i class="fa fa-chevron-left"></i> Menu</button>
            </p>
            <h3 class="hidden-xs-down">
                Bienvenue <span class="username"></span>
            </h3>
            <div class="alert alert-warning fade collapse" role="alert" id="myAlert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-6 text-center-md text-center-lg">
                    <div class="card card-inverse card-success">
                        <div class="card-block bg-success">
                            <div class="rotate">
                                <i class="fa fa-newspaper-o fa-5x"></i>
                            </div>
                            <h6 class="text-uppercase">Vos recettes</h6>
                            <h1 class="display-1 count_number"></h1>
                        </div>
                    </div>
                </div>
            </div>
            <ul id="recipient_list" class="list-group marginBottom20">
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_login" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal_login">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center animated pulse">
                <div class="font_logout ">Erreur</div>
                <hr>
                <span id="content_login">
                    <span class="text_logout">Une erreur est survenue ! Veuillez réessayer ultérieurement. Merci</span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </span>
                <div class="sk-circle" id="spinnerl" style="display:none!important;">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block JS %}
    <script type="text/javascript" src="PUBLIC/JS/index.js"></script>
    <script type="text/javascript" src="PUBLIC/JS/dashboard.js"></script>
{% endblock %}
