{% extends "layout.html.twig" %}
{% block body %}
<style type="text/css">
    .card {overflow:hidden;}
    .card-block .rotate {z-index: 8;float: right;height: 100%;}
    .card-block .rotate i {
        color: rgba(20, 20, 20, 0.15);
        position: absolute;
        left: 0;
        left: auto;
        right: -10px;
        bottom: 0;
        display: block;
        -webkit-transform: rotate(-44deg);
        -moz-transform: rotate(-44deg);
        -o-transform: rotate(-44deg);
        -ms-transform: rotate(-44deg);
        transform: rotate(-44deg);
    }
    @media only screen and (max-width: 521px) {
        .btn_delete_rec{
            margin-bottom: 15px;
        }
    }
</style>
<div style="margin-top: 70px">
<div class="container-fluid marginTop20" id="main">
    <div style="display: none" id="the_top"></div>
    <div class="row row-offcanvas row-offcanvas-left">
        <!--/col-->
        <div class="col-md-9 col-lg-12 main">
            <h3 class="hidden-xs-down">
                Bienvenue <span class="username"></span>
            </h3>
            <div class="alert alert-warning fade collapse" role="alert" id="myAlert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-6 text-center-md text-center-lg">
                    <div class="card card-inverse card-success">
                        <div class="card-block bg-success">
                            <div class="rotate">
                                <i class="fa fa-newspaper-o fa-5x"></i>
                            </div>
                            <h6 class="text-uppercase">Vos recettes</h6>
                            <h1 class="display-1 count_number"></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive table-sm">
                <table class="table" id="table_recette_user" data-page-size="5" data-page-navigation=".pagination" data-paging="true">
                    <thead>
                    <tr>
                        <td colspan="5">
                            <div class="pagination pagination-centered hide-if-no-paging"></div>
                        </td>
                    </tr>
                    </thead>
                    <tbody id="recipient_list">

                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <div class="pagination pagination-centered hide-if-no-paging"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="modal_login" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal_login">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center animated pulse">
                <div class="font_logout ">Erreur</div>
                <hr>
                <span id="content_login">
                    <span class="text_logout">Une erreur est survenue ! Veuillez réessayer ultérieurement. Merci</span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </span>
                <div class="sk-circle" id="spinnerl" style="display:none!important;">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block JS %}
    <script type="text/javascript" src="PUBLIC/JS/index.js"></script>
    <script type="text/javascript" src="PUBLIC/JS/dashboard.js"></script>
{% endblock %}
