{% extends "layout.html.twig" %}
{% block body %}
    <div style="margin-top: 70px">
        <!-- ----------------------------------------------------------------------------------------
        FORM recette
        ---------------------------------------------------------------------------------------- -->
        <div class="container marginTop20">
            <div class="jumbotron">
                <div id="idr" style="display: none">{{ last_idr }}</div>
                <h2 style="text-align: center">Saisissez les ingrédients pour réussir votre recette </h2>
                <h1 style="text-align: center"><div class="text-danger" id="title_r">{{ title }}</div></h1>
                <form class="marginTop20" id="formNewIngre">
                    <table class="table-responsive" id="table_ingre">
                        <thead>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <fieldset class="form-group">
                                    <label>Quantité</label>
                                    <input type="text" class="form-control inputQte" name="qte[]" placeholder="Quantité (ex : 10L , 20g, 10 cuillères à soupe ...)">
                                    <small class="text-muted">Saisissez les quantiés (ex : 10L , 20g ...)</small>
                                </fieldset>
                                <div class="verifQte"></div>
                            </td>
                            <td>
                                <fieldset class="form-group">
                                    <label>Ingédients</label>
                                    <input type="text" class="form-control inputIngre" name="ingredient[]" placeholder="Ingrédients (ex : lait, beurre...)">
                                    <small class="text-muted">Saisissez les ingrédients (ex : lait, beurre...)</small>
                                </fieldset>
                                <div class="verifIngre"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check-square"></i> Je Valide !</button>
                    <button type="submit" class="btn btn-info-outline" id="btn_add_field_ingre"><i class="fa fa-plus-circle"></i> Ajouter un ingrédient</button>
                    <button class="btn btn-danger-outline" id="btn-remove-line"><i class="fa fa-trash-o"></i> Supprimer la dernière ligne</button>
                </form>
            </div>
        </div>
        <!-- ----------------------------------------------------------------------------------------
        END FORM recette
        ---------------------------------------------------------------------------------------- -->
        <div class="modal fade" id="modal_login" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal_login">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center animated pulse">
                        <div class="font_logout ">Erreur</div>
                        <hr>
                    <span id="content_login">
                        <span class="text_logout">Une erreur est survenue ! Veuillez réessayer ultérieurement. Merci</span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </span>
                        <div class="sk-circle" id="spinnerl" style="display:none!important;">
                            <div class="sk-circle1 sk-child"></div>
                            <div class="sk-circle2 sk-child"></div>
                            <div class="sk-circle3 sk-child"></div>
                            <div class="sk-circle4 sk-child"></div>
                            <div class="sk-circle5 sk-child"></div>
                            <div class="sk-circle6 sk-child"></div>
                            <div class="sk-circle7 sk-child"></div>
                            <div class="sk-circle8 sk-child"></div>
                            <div class="sk-circle9 sk-child"></div>
                            <div class="sk-circle10 sk-child"></div>
                            <div class="sk-circle11 sk-child"></div>
                            <div class="sk-circle12 sk-child"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block JS %}
    <script type="text/javascript" src="PUBLIC/JS/new_ingredient.js"></script>
{% endblock %}