{% extends "layout.html.twig" %}
{% block body %}
<div style="margin-top: 70px">
    <!-- ----------------------------------------------------------------------------------------
    FORM IMG
    ---------------------------------------------------------------------------------------- -->
    <div class="container marginTop20">
        <div class="jumbotron">
            <div id="idr" style="display: none">{{ idr }}</div>
            <h1 style="text-align: center">Choisissez parmi vos meilleures photos pour allécher vos spectateurs</h1>
            <h2 style="text-align: center"><div class="text-danger">Au moins une images est obligatoire !</div></h2>
            <h4 style="text-align: center">Veuillez valider à chaque images</h4>
            <form class="form_img marginTop20 container" action="index.php?run=importImg" enctype="multipart/form-data">
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <input type="file" class="form-control-file" id="input_1" name="input_1">
                    </fieldset>
                    <div id="image">
                        <img id="preview1" src="" alt="" width="300" height="200"/>
                    </div>
                    <div id="confirmImg1" style="display: none"><div class="text-success">Image importé avec succès !</div></div>
                    <div id="errorImg1" style="display: none"><div class="text-danger">Erreur d'importation !</div></div>
                </div>
                {#<div class="col-lg-4">
                    <fieldset class="form-group">
                        <label for="input2">Photo N°2</label>
                        <input type="file" class="form-control-file" id="input_2">
                    </fieldset>
                    <div id="image">
                        <img id="preview2" src="" alt="" width="300" height="200"/>
                    </div>
                    <div id="confirmImg2" style="display: none"><div class="text-success">Image importé avec succès !</div></div>
                    <div id="errorImg2" style="display: none"><div class="text-danger">Erreur d'importation !</div></div>
                </div>
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label for="input3">Photo N°3</label>
                        <input type="file" class="form-control-file" id="input_3">
                    </fieldset>
                    <div id="image">
                        <img id="preview3" src="" alt="" width="300" height="200"/>
                    </div>
                    <div id="confirmImg3" style="display: none"><div class="text-success">Image importé avec succès !</div></div>
                    <div id="errorImg3" style="display: none"><div class="text-danger">Erreur d'importation !</div></div>
                </div>#}
                <button type="submit" class="btn btn-primary marginTop20"><i class="fa fa-check-square"></i> Valider !</button>
            </form>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------
    END FORM IMG
    ---------------------------------------------------------------------------------------- -->
</div>
{% endblock %}
{% block JS %}
    <script type="text/javascript" src="PUBLIC/JS/new_img.js"></script>
{% endblock %}