{% extends "layout.html.twig" %}
{% block body %}
    <style>
        body{height:100%;}
    </style>
<!-- ----------------------------------------------------------------------------------------
Caroussel
---------------------------------------------------------------------------------------- -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic active" data-slide-to="0" class="has-slider"></li>
            {#ITEM#}
        </ol>
        <div id="c_item" class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="PUBLIC/IMG/intro.jpg" alt="slide n°0">
                <div class="carousel-caption">
                    <h3>Bienvenue sur MARMITON</h3>
                    <p>Régalez-vous !</p>
                </div>
            </div>
        </div>
        {#ITEM#}
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
<!-- ----------------------------------------------------------------------------------------
End Caroussel
---------------------------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------------------------
divider
---------------------------------------------------------------------------------------- -->
<div class="divider">
    <div class="white_overlay" style="background-color: #e3f2fd;">
        <div class="inDidivder">
            <h1>Choisissez parmis nos nombreuses recettes et régalez-vous.</h1>
            <h2>Découvrez les dernières recettes en premier !</h2>
        </div>
        <div class="mouse_scroll">
            <div class="mouse">
                <div class="wheel"></div>
            </div>
            <div>
                <span class="m_scroll_arrows unu"></span>
                <span class="m_scroll_arrows doi"></span>
                <span class="m_scroll_arrows trei"></span>
            </div>
        </div>
        <div class="pad50"></div>
    </div>
</div>
<!-- ----------------------------------------------------------------------------------------
end divider
---------------------------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------------------------
Mozaique
---------------------------------------------------------------------------------------- -->
<div>
    <ul class="related-posts group" style="margin: 0;padding: 0;">
        <div class="largeRelated">
            {#RECETTES#}
        </div>
        <div class="smallRelated smallRelatedMod card-right">
            {#RECETTES#}
        </div>
    </ul>
    <ul class="related-posts group " style="margin: 0;padding: 0;">
        <div class="smallRelated smallRelated_long card-bottom" style="width: 100%">
            {#RECETTES#}
        </div>
    </ul>
</div>
<!-- ----------------------------------------------------------------------------------------
end Mozaique
---------------------------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------------------------
divider
---------------------------------------------------------------------------------------- -->
    <div class="divider">
        <div class="white_overlay" style="background-color: #e3f2fd;">
            <div class="inDidivder">
                <h1>Votre recette ...? Ici ...? C'est possible</h1>
            </div>
            <div class="mouse_scroll">
                <div>
                    <span class="m_scroll_arrows unu"></span>
                    <span class="m_scroll_arrows doi"></span>
                    <span class="m_scroll_arrows trei"></span>
                </div>
            </div>
            <button class="btn btn-warning-outline" onclick="location.href='index.php?run=new_recette'">Déposer une recette</button>
            <div class="pad50"></div>
        </div>
    </div>
<!-- ----------------------------------------------------------------------------------------
end divider
---------------------------------------------------------------------------------------- -->
{% endblock %}
{% block JS %}
    <script type="text/javascript" src="PUBLIC/JS/index.js"></script>
{% endblock %}
