<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Marmiton</title>
    <link rel="stylesheet" href="PUBLIC/bootstrap-4.0.0-alpha.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="PUBLIC/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="PUBLIC/CSS/style.css">
    <link rel="stylesheet" href="PUBLIC/CSS/lightbox.css">
    <link rel="stylesheet" href="PUBLIC/CSS/bootstrap-multiselect.css">
    <link rel="stylesheet" href="PUBLIC/CSS/footable.standalone.min.css">
    <link rel="stylesheet" href="PUBLIC/CSS/animate.css">
</head>
<body>

<!-- ----------------------------------------------------------------------------------------
Navbarstyle="background-color: #e3f2fd;"
---------------------------------------------------------------------------------------- -->
<nav id="header" class="navbar navbar-light navbar-full navbar-fixed-top">
    <div id="header-container">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
            &#9776;
        </button>
        <div id="navbar" class="collapse navbar-toggleable-xs">
            <a id="brand" class="navbar-brand" href="index.php?run=indexAction"><img src="PUBLIC/IMG/logo_marmiton.png" alt="logo" class="logo"></a>
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="index.php?run=indexAction"><i class="fa fa-home"></i> Accueil</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recettes</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="index.php?run=show_recettes">Consulter toutes les recettes</a>
                        <a class="dropdown-item" href="index.php?run=new_recette">Déposer une recette</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pull-xs-right">
            <button class="navbar-toggler btn-primary-outline" id="btn-nav-search" type="button">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="pull-xs-right">
                <a class="nav-link dropdown-toggle navbar-toggler user" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-black-color"></i></a>
                <div class="dropdown-menu-right dropdown-menu co-do">
                    <a class="dropdown-item connect isco" href="index.php?run=login">Se connecter</a>
                </div>
            </button>
        </div>
    </div>
<!-- ----------------------------------------------------------------------------------------
collapse search content
---------------------------------------------------------------------------------------- -->
    <div class="collapse" id="container_search">
        <div class="bg-filter p-a-1">
            <div class="container-fluid">
                <div class="col-lg-10">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Rechercher une recette...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                    </span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-primary-outline" id="btn-more-filter"><i class="fa fa-plus-circle"></i> de filtres <i class="fa fa-filter"></i></button>
                </div>
                <div class="col-lg-12 marginTop20">
                    <button class="btn btn-warning-outline" id="btn-valid-search"><i class="fa fa-check-square"></i> Rechercher ! </button>
                </div>
            </div>
        </div>
    </div>
<!-- ----------------------------------------------------------------------------------------
collapse filter content
---------------------------------------------------------------------------------------- -->
    <div class="collapse" id="container_more_filter">
        <div class="bg-filter p-a-1">
            <div class="container-fluid">
                <div class="col-lg-2">
                    <button class="btn btn-success" id="btn_plat_filter"><i class="fa fa-cutlery"></i> Type de plat <i class="fa fa-sort-down"></i></button>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-success" id="btn_ingred_filter"><i class="fa fa-leaf"></i> Ingrédients <i class="fa fa-sort-down"></i></button>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-success" id="btn_categ_filter"><i class="fa fa-list-alt"></i> Catégorie <i class="fa fa-sort-down"></i></button>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-success" id="btn_cout_filter"><i class="fa fa-money"></i> Coût <i class="fa fa-sort-down"></i></button>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-success" id="btn_difficulte_filter"><i class="fa fa-signal"></i> Difficulté <i class="fa fa-sort-down"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------
    collapse filter content by type de plat
    ---------------------------------------------------------------------------------------- -->
    <div class="collapse" id="container_plat_filter">
        <div class="bg-filter p-a-1">
            <div class="container-fluid">
                <h1>List Of plat</h1>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------
    collapse filter content by ingrédient
    ---------------------------------------------------------------------------------------- -->
    <div class="collapse" id="container_ingred_filter">
        <div class="bg-filter p-a-1">
            <div class="container-fluid">
                <h1>List Of Ingredient</h1>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------
    collapse filter content by categorie
    ---------------------------------------------------------------------------------------- -->
    <div class="collapse" id="container_categ_filter">
        <div class="bg-filter p-a-1">
            <div class="container-fluid">
                <h1>List Of Categ</h1>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------
    collapse filter content by cout
    ---------------------------------------------------------------------------------------- -->
    <div class="collapse" id="container_cout_filter">
        <div class="bg-filter p-a-1">
            <div class="container-fluid">
                <label class="c-input c-checkbox checkbox-inline">
                    <input type="checkbox" id="costCheckbox1" value="bonMarche">
                    <span class="c-indicator"></span>
                    Bon marché
                </label>
                <label class="c-input c-checkbox checkbox-inline">
                    <input type="checkbox" id="costCheckbox2" value="Moyen">
                    <span class="c-indicator"></span>
                    Moyen
                </label>
                <label class="c-input c-checkbox checkbox-inline">
                    <input type="checkbox" id="costCheckbox3" value="assezCher">
                    <span class="c-indicator"></span>
                    Assez cher
                </label>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------
    collapse filter content by difficulte
    ---------------------------------------------------------------------------------------- -->
    <div class="collapse" id="container_difficulte_filter">
        <div class="bg-filter p-a-1">
            <div class="container-fluid">
                <label class="c-input c-checkbox checkbox-inline">
                    <input type="checkbox" id="difficulteCheckbox1" value="tresFacile">
                    <span class="c-indicator"></span>
                    Très facile
                </label>
                <label class="c-input c-checkbox checkbox-inline">
                    <input type="checkbox" id="difficulteCheckbox2" value="Facile">
                    <span class="c-indicator"></span>
                    Facile
                </label>
                <label class="c-input c-checkbox checkbox-inline">
                    <input type="checkbox" id="difficulteCheckbox3" value="Difficile">
                    <span class="c-indicator"></span>
                    Difficile
                </label>
            </div>
        </div>
    </div>
</nav>

<div class="corps fill">
    {% block body %}
    {% endblock %}
    {% block footer %}
        <div id="footer" class="paddingTop20">
            <div class="container footer-container">
                <div class="col-lg-4">
                    <h1>Nous Contacter</h1>
                    <a href="#" class="a-for-sociaux marginBottom20">contact@marmiton.org</a>
                    <hr>
                    <a href="#" class="a-for-sociaux fb"><i class="fa fa-facebook-square fa-5x"></i></a>
                    <a href="#" class="a-for-sociaux twitter"><i class="fa fa-twitter-square fa-5x "></i></a>
                    <a href="#" class="a-for-sociaux google"><i class="fa fa-google-plus-square fa-5x"></i></a>
                    <div class="marginTop20"></div>
{#
                    <iframe class="marginBottom20 marginTop20" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83998.94722653212!2d2.2775171801503213!3d48.85883773932843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis!5e0!3m2!1sfr!2sfr!4v1452857641665" width="350" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
#}
                </div>
                <div class="col-lg-4">
                    <h1>Informations</h1>
                    <p>Marmiton est un site créé par la communauté et destiné à faire partager le savoir de chacun dans le domaine du culinaire</p>
                </div>
                <div class="col-lg-4">
                    <h1>Newsletter</h1>
                    <label>S'abonner à la newsletter</label>
                    <div class="input-group marginBottom20">
                        <input type="text" class="form-control" placeholder="Newsletter...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button"><i class="fa fa-check-square"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</div>

<script type="text/javascript" src="PUBLIC/JS/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="PUBLIC/bootstrap-4.0.0-alpha.2/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="PUBLIC/JS/main.js"></script>
<script type="text/javascript" src="PUBLIC/JS/navbar-scroller.js"></script>
<script type="text/javascript" src="PUBLIC/JS/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="PUBLIC/JS/new_r_name.js"></script>
<script type="text/javascript" src="PUBLIC/JS/footable.min.js"></script>
<script type="text/javascript" src="PUBLIC/JS/footable.paginate.min.js"></script>
{% block JS %}
{% endblock %}
</body>
</html>