{% extends "layout.html.twig" %}
{% block body %}
<div style="margin-top: 70px">
    <!-- ----------------------------------------------------------------------------------------
    FORM recette
    ---------------------------------------------------------------------------------------- -->
    <div class="container marginTop20">
        <div class="jumbotron">
            <h2 style="text-align: center">Saisissez les Informations sur votre recette </h2>
            <h1 style="text-align: center"><div class="text-danger" id="title_r">{{ title }}</div></h1>
            <form class="marginTop20" id="formNewRecette">
                <fieldset class="form-group">
                    <select class="form-control form-control-lg" id="type_dish">
                        <option disabled="disabled" selected>Type de plat</option>
                        <option value="Entrée">Entrée</option>
                        <option value="Plat principal">Plat principal</option>
                        <option value="Dessert">Dessert</option>
                        <option value="Accompagnement">Accompagnement</option>
                        <option value="Amuse-gueule">Amuse-gueule</option>
                        <option value="Boisson">Boisson</option>
                        <option value="Confiserie">Confiserie</option>
                        <option value="Sauce">Sauce</option>
                        <option value="Conseil">Conseil</option>
                    </select>
                </fieldset>
                <div id="verifTypePlat"></div>
                <fieldset class="form-group">
                    <div style="display: flex">Végétarien <a href="#" class="toggle toggle-off toggle_vege"></a></div>
                </fieldset>
                <fieldset class="form-group">
                    <select class="form-control form-control-lg" id="category">
                        <option disabled="disabled" selected>Catégories</option>
                        {% for oneCateg in categ %}
                            <option value="{{ oneCateg['name_c'] }}">{{ oneCateg['name_c'] }}</option>
                        {% endfor %}
                        <option value="autres">Autres choix</option>
                    </select>
                </fieldset>
                <div id="verifCateg"></div>
                <fieldset class="form-group" style="display: none" id="OtherChoice">
                    <label for="inputOtherC">Autre choix</label>
                    <input type="text" class="form-control" id="inputOtherC" placeholder="Saisisser votre choix">
                    <small class="text-muted">Saisissez en toutes lettres et clair votre choix</small>
                </fieldset>
                <div id="verifOtherC"></div>
                <fieldset class="form-group">
                    <select class="form-control form-control-lg" id="difficulty">
                        <option disabled="disabled" selected>Difficulté</option>
                        <option value="Très facile">Très facile</option>
                        <option value="Facile">Facile</option>
                        <option value="Moyenne">Moyenne</option>
                    </select>
                </fieldset>
                <div id="verifDiff"></div>
                <fieldset class="form-group">
                    <select class="form-control form-control-lg" id="cost">
                        <option disabled="disabled" selected>Coût</option>
                        <option value="Bon marché">Bon marché</option>
                        <option value="Moyen">Moyen</option>
                        <option value="Assez cher">Assez cher</option>
                    </select>
                </fieldset>
                <div id="verifCost"></div>
                <fieldset class="form-group">
                    <label for="inputTmpPrep">Temps de préparation</label>
                    <input type="text" class="form-control" id="inputTmpPrep" placeholder="Temps de la préparation (ex: 15)">
                    <small class="text-muted">A exprimer en MINUTES (uniquement les chiffres)</small>
                </fieldset>
                <div id="verifTmpPrep"></div>
                <div id="verifIsNum"></div>
                <fieldset class="form-group">
                    <label for="inputTmpCook">Temps de cuisson</label>
                    <input type="text" class="form-control" id="inputTmpCook" placeholder="Temps de cuisson (ex: 120)">
                    <small class="text-muted">A exprimer en MINUTES (uniquement les chiffres)</small>
                </fieldset>
                <div id="verifTmpCook"></div>
                <fieldset class="form-group">
                    <div style="display: flex">Sans cuisson ? <a href="#" class="toggle toggle-off toggle_type_cook"></a></div>
                </fieldset>
                <fieldset class="form-group">
                    <label for="inputNbPort">Nombre de portions</label>
                    <input type="text" class="form-control" id="inputNbPort" placeholder="Nombre de portions (ex: 2 personnes, 5 parts...)">
                    <small class="text-muted">Nombre de portions (ex: 2 personnes, 5 parts...)</small>
                </fieldset>
                <div id="verifNbPort"></div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-check-square"></i> Je Valide !</button>
            </form>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------
    END FORM recette
    ---------------------------------------------------------------------------------------- -->
</div>
{% endblock %}
{% block JS %}
    <script type="text/javascript" src="PUBLIC/JS/new_recette.js"></script>
{% endblock %}