{% extends "layout.html.twig" %}
{% block body %}
<div style="margin-top: 70px">
    <!-- ----------------------------------------------------------------------------------------
    SHOW RECETTE
    ---------------------------------------------------------------------------------------- -->
    <div class="container marginTop20 jumbotron">
        <div id="id_r" style="display: none">{{ id_r }}</div>
        <div class="text-danger"><h1 id="error"></h1></div>
        {#<span class="rating" style="float: right">
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
            </span>#}
        <div id="content_corps">
        <fieldset class="rating" style="float: right">
            <input type="radio" class="starC" id="star5" name="rating" value="5"/>
            <label for="star5" title="Rocks!">5
                stars</label>
            <input type="radio" class="starC" id="star4" name="rating" value="4"/>
            <label for="star4" title="Pretty good">4
                stars</label>
            <input type="radio" class="starC" id="star3" name="rating" value="3"/>
            <label for="star3" title="Meh">3
                stars</label>
            <input type="radio" class="starC" id="star2" name="rating" value="2"/>
            <label for="star2" title="Kinda bad">2
                stars</label>
            <input type="radio" class="starC" id="star1" name="rating" value="1"/>
            <label for="star1" title="Sucks big time">1
                star</label>
            <div id="confirmNote" style="display: none"><div class="text-success">Note enregistrée !</div></div>
            <div id="errorNote" style="display: none"><div class="text-danger">Erreur sur la notation</div></div>
        </fieldset>

        <div class="col-lg-12">

            <h1 id="titre_r" style="text-align: center" class="marginBottom20"></h1>

            <div class="col-lg-3" id="all_img_r" style="width: 250px">
            </div>
            <div class="col-lg-6" style="padding-left: 30px;">
                <div class="col-lg-12 marginTop20">
                    <div class="col-lg-6">
                        <h5 class="text-success"><strong>Ingrédients</strong></h5>
                        <div id="ingre"></div>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="text-success"><strong>Etapes</strong></h5>
                        <div id="step"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div>
                    <h6 ><strong>Catégories</strong> <br><div id="categ_r" class="text-primary"></div></h6>
                    <h6 style="display: flex"><strong>Type de plat :
                        </strong> &nbsp;<div id="type_dish_r" class="text-info"></div></h6>
                    <h6 style="display: flex"><strong>
                            <i class="fa fa-signal" data-toggle="tooltip" data-placement="top" title="Difficulté"></i> :
                        </strong>&nbsp;<div id="diff_r" class="text-info" data-toggle="tooltip" data-placement="top" title="Difficulté"></div></h6>
                    <h6 style="display: flex"><strong>
                            <i class="fa fa-eur" data-toggle="tooltip" data-placement="top" title="Coût"></i> :
                        </strong> &nbsp;<div id="cost_r" class="text-info" data-toggle="tooltip" data-placement="top" title="Coût"></div></h6>
                    <h6 style="display: flex"><strong>
                            <i class="fa fa-user" data-toggle="tooltip" data-placement="top" title="Portions"></i> :
                        </strong> &nbsp;<div id="nb_port" class="text-warning" data-toggle="tooltip" data-placement="top" title="Portions"></div></h6>
                    <h6 style="display: flex"><strong>
                            <i class="fa fa-history" data-toggle="tooltip" data-placement="top" title="Temps de préparation"></i> :
                        </strong> &nbsp;<div id="tmp_prep_r" class="text-danger" data-toggle="tooltip" data-placement="top" title="Temps de préparation"></div> &nbsp;min</h6>
                    <h6 style="display: flex"><strong>
                            <i class="fa fa-hourglass-2" data-toggle="tooltip" data-placement="top" title="Temps de cuisson"></i> :
                        </strong> &nbsp;<div id="tmp_cook_r" class="text-danger" data-toggle="tooltip" data-placement="top" title="Temps de cuisson"></div> &nbsp;min</h6>
                </div>
            </div>
        </div>
        <button class="btn btn-danger-outline full-width marginTop20 " id="btn_in_kitchen">MODE "EN CUISINE"</button>
    </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------
    END SHOW RECETTE
    ---------------------------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------------------------
POPUP IN KITCHEN MODE
---------------------------------------------------------------------------------------- -->
    <div class="modal fade" id="modal_login" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal_login">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center animated pulse">
                    <div class="font_logout ">MODE EN CUISINE</div>
                    <hr>
                    <span id="content_login">
                        <span class="text_logout">Le mode en cuisine arrive, patientez ...</span>
                    </span>
                    <div class="sk-circle" id="spinnerl" style="margin: 10px auto!important">
                        <div class="sk-circle1 sk-child"></div>
                        <div class="sk-circle2 sk-child"></div>
                        <div class="sk-circle3 sk-child"></div>
                        <div class="sk-circle4 sk-child"></div>
                        <div class="sk-circle5 sk-child"></div>
                        <div class="sk-circle6 sk-child"></div>
                        <div class="sk-circle7 sk-child"></div>
                        <div class="sk-circle8 sk-child"></div>
                        <div class="sk-circle9 sk-child"></div>
                        <div class="sk-circle10 sk-child"></div>
                        <div class="sk-circle11 sk-child"></div>
                        <div class="sk-circle12 sk-child"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- ----------------------------------------------------------------------------------------
END POPUP IN KITCHEN MODE
---------------------------------------------------------------------------------------- -->
</div>
{% endblock %}
{% block JS %}
<script type="text/javascript" src="PUBLIC/JS/lightbox.js"></script>
<script type="text/javascript" src="PUBLIC/JS/content_recette.js"></script>
{% endblock %}