{% extends "layout.html.twig" %}
{% block body %}
<div style="margin-top: 70px">
    <!-- ----------------------------------------------------------------------------------------
    SHOW RECETTE
    ---------------------------------------------------------------------------------------- -->
    <div class="container marginTop20 jumbotron">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 600px; height: 400px; overflow: hidden; visibility: hidden;">
                    <!-- Loading Screen -->
                    <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                    </div>
                    <div id="theslider" data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 600px; height: 300px; overflow: hidden;">
                        {#<div data-p="112.50" style="display: none;">
                            <img data-u="image" src="PUBLIC/IMG/recette1.jpg" />
                            <div data-u="thumb">
                                <img src="PUBLIC/IMG/recette1.jpg" />
                                <div class="title_back"></div>
                                <div class="title">
                                </div>
                            </div>
                        </div>
                        <div data-p="112.50" style="display: none;">
                            <img data-u="image" src="PUBLIC/IMG/recette1.jpg" />
                            <div data-u="thumb">
                                <img src="PUBLIC/IMG/recette1.jpg" />
                                <div class="title_back"></div>
                                <div class="title">
                                </div>
                            </div>
                        </div>
                        <div data-p="112.50" style="display: none;">
                            <img data-u="image" src="PUBLIC/IMG/recette1.jpg" />
                            <div data-u="thumb">
                                <img src="PUBLIC/IMG/recette1.jpg" />
                                <div class="title_back"></div>
                                <div class="title">
                                </div>
                            </div>
                        </div>
                        <div data-p="112.50" style="display: none;">
                            <img data-u="image" src="PUBLIC/IMG/recette1.jpg" />
                            <div data-u="thumb">
                                <img src="PUBLIC/IMG/recette1.jpg" />
                                <div class="title_back"></div>
                                <div class="title">
                                </div>
                            </div>
                        </div>#}
                    </div>
                    <!-- Thumbnail Navigator -->
                    <div data-u="thumbnavigator" class="jssort16" style="position:absolute;left:0px;bottom:0px;width:600px;height:100px;" data-autocenter="1">
                        <!-- Thumbnail Item Skin Begin -->
                        <div data-u="slides" style="cursor: default;">
                            <div data-u="prototype" class="p">
                                <div data-u="thumbnailtemplate" class="t"></div>
                            </div>
                        </div>
                        <!-- Thumbnail Item Skin End -->
                    </div>
                    <!-- Bullet Navigator -->
                    <div data-u="navigator" class="jssorb03" style="bottom:116px;right:16px;">
                        <!-- bullet navigator item prototype -->
                        <div data-u="prototype" style="width:21px;height:21px;">
                            <div data-u="numbertemplate"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" style="padding-left: 30px;">
                <h1 id="titre_r"></h1>
                <h5>Catégorie : <div id="categ_r" class="text-info"></div></h5>
                <h5>Type de plat : <div id="type_dish_r" class="text-info"></div></h5>
                <h5>Difficulté : <div id="diff_r" class="text-info"></div></h5>
                <h5>Coût : <div id="cost_r" class="text-info"></div></h5>
                <h5>Temps de préparation : <div id="tmp_prep_r" class="text-danger"></div></h5>
                <h5>Temps de cuisson : <div id="tmp_cook_r" class="text-danger"></div></h5>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="text-warning"><strong>Ingrédients (pour nb_port)</strong></div><br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                </div>
                <div class="col-lg-6">
                    <div class="text-warning"><strong>Etapes</strong></div><br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                    -<br>
                </div>
            </div>
        </div>
        <button class="btn btn-danger-outline full-width marginTop20">MODE EN CUISINE</button>
    </div>
    <!-- ----------------------------------------------------------------------------------------
    END SHOW RECETTE
    ---------------------------------------------------------------------------------------- -->
</div>
{% endblock %}
{% block JS %}
    <script type="text/javascript" src="PUBLIC/JS/content_recette.js"></script>
{% endblock %}