{% extends "layout.html.twig" %}
{% block body %}
<div style="margin-top: 70px">
<!-- ----------------------------------------------------------------------------------------
divider
---------------------------------------------------------------------------------------- -->
    <div class="divider">
        <div class="white_overlay" style="background-color: #e3f2fd;">
            <div class="inDidivder">
                <h1>À vos marques ! prêts ? dégustez !</h1>
            </div>
            <div class="mouse_scroll">
                <div>
                    <span class="m_scroll_arrows unu"></span>
                    <span class="m_scroll_arrows doi"></span>
                    <span class="m_scroll_arrows trei"></span>
                </div>
            </div>

        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------
    end divider
    ---------------------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------
CARD RECETTE
---------------------------------------------------------------------------------------- -->
    <div id="card-recettes" class="card-columns marginTop20">
        {#RECETTES#}
    </div>
<!-- ----------------------------------------------------------------------------------------
END CARD RECETTE
---------------------------------------------------------------------------------------- -->
</div>
{% endblock %}
{% block JS %}
    <script type="text/javascript" src="PUBLIC/JS/list_recette.js"></script>
{% endblock %}