{% extends "layout.html.twig" %}
{% block body %}
<div style="margin-top: 70px">
<!-- ----------------------------------------------------------------------------------------
CARD RECETTE
---------------------------------------------------------------------------------------- -->
    <div id="card-recettes" class="card-columns">
        {#RECETTES#}
    </div>
<!-- ----------------------------------------------------------------------------------------
END CARD RECETTE
---------------------------------------------------------------------------------------- -->
</div>
{% endblock %}
{% block JS %}
    <script type="text/javascript" src="PUBLIC/JS/list_recette.js"></script>
{% endblock %}