@font-face {
    font-family: font-divider;
    src:url('../FONT/TypoGraphica.otf');
}

body{
    background-color:#f7f7f9;
    height:100%;
}
html{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-item img{width: 100%!important; height: 100%!important;}
.carousel-inner{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}

.logo{
    width: 32px;
}

.marginTop20{
    margin-top: 20px;
}

.marginBottom20{
    margin-bottom: 20px;
}

.paddingTop20{
    padding-top: 20px;
}

.a-for-sociaux{
    color: #fff;
}

.a-for-sociaux:hover{
    text-decoration: none;
    color: #fff;
}

.twitter:hover{
    text-decoration: none!important;
    color:#4099FF!important;
}
.fb:hover{
    text-decoration: none!important;
    color:#3b5998!important;
}
.google:hover{
    text-decoration: none!important;
    color:#D34836!important;
}

.nav-link{
    font-family: font-divider;
}

.navbar{
    padding: 0!important;
}
#header-container{
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 3em;
    padding-top: .5em;
}
.pad200{
    padding-bottom: 200px;
}

.container-search-bar-home{
    margin-bottom: 30px;
}

.pad50{
    padding-bottom: 50px;
}
.dark_overlay {
    background: url(../IMG/overlay2.png) repeat;
    width: 100%;
    height: 100%;
}

.inDidivder{
    position: relative;
    right: 0;
    left: 0;
    top:55px;
}

.inDidivder h1{
    font-family: font-divider;
}

.white_overlay{
    width: 100%;
    height: 100%;
    text-align: center;
}

#btn-nav-search{
    color: #000!important;
}
#btn-nav-search:hover{
    color: #FFF!important;
}
#btn-nav-co{
    color: #000!important;
}
#btn-nav-co:hover{
    color: #FFF!important;
}

.bg-filter{
    background-color: #E1E2E2;
}

#container_search{
    position: relative!important;
    z-index: 45;
}

#container_more_filter{
    position: relative!important;
    z-index: 23;
}
#container_plat_filter{
    position: relative!important;
    z-index: 22;
}
#container_ingred_filter{
    position: relative!important;
    z-index: 22;
}
#container_categ_filter{
    position: relative!important;
    z-index: 22;
}
#container_cout_filter{
    position: relative!important;
    z-index: 22;
}
#container_difficulte_filter{
    position: relative!important;
    z-index: 22;
}

.newsletter{
    float: right;
}

#footer{
    background-color: #333333;
    color: #fff;
    bottom: 0;
    text-align: center;
}

#footer h1{
    font-family: font-divider;
}

hr {
    border-top: 1px dashed #FFF;
}

.footer-container{

}
/* -----------------------------
DEGRADE
-------------------------------*/
.gradient {
    /* Anciens navigateurs */
    background: #B9FDFF url("../IMG/gradient-bg.png") repeat-x top;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
@media all and (min-width: 0px) {
    .gradient {
        /* Opera */
        background: #B9FDFF url("../IMG/gradient-bg.svg");
        /* Navigateurs récents */
        background-image: -webkit-gradient(
                linear,
                left top, left bottom,
                from(#B9FDFF),
                to(#B9FDFF),
                color-stop(0.5, #FFFFFF)
        );
        background-image: -webkit-linear-gradient(
                top,
                #B9FDFF,
                #FFFFFF 50%,
                #B9FDFF
        );
        background-image: -moz-linear-gradient(
                top,
                #B9FDFF,
                #FFFFFF 50%,
                #B9FDFF
        );
        background-image: -o-linear-gradient(
                top,
                #B9FDFF,
                #FFFFFF 50%,
                #B9FDFF
        );
        background-image: linear-gradient(
                top,
                #B9FDFF,
                #FFFFFF 50%,
                #B9FDFF
        );
    }
}
/* -----------------------------
END DEGRADE
-------------------------------*/

/* -----------------------------
MOUSE
-------------------------------*/
.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    //background: blue;
    margin-top: 80px;
}

.m_scroll_arrows
{
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);

    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0 0 3px 4px;

    width: 16px;
    height: 16px;
}

.unu
{
    margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.unu
{
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
}

.doi
{
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    margin-top: -6px;
}

.trei
{
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    margin-top: -6px;
}

.mouse
{
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid black;
    top: 170px;
}

.wheel
{
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: black;
    position: relative;

    height: 4px;
    width: 4px;
    border: 2px solid #000;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.wheel
{
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel
{
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel
{
    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}
@keyframes mouse-scroll {

    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}
/* -----------------------------
END MOUSE
-------------------------------*/

/* -----------------------------
MOZAIQUE
-------------------------------*/
.related-posts a:hover, .related-posts a:focus {
    color: #73d0da;
    text-decoration: none;
}
.related-posts .largeRelated {
    float: left;
    width: 60%;
    height: 600px
}

.related-posts .largeRelated > div {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.related-posts .largeRelated div h2 {
    text-align: center;
    padding: 20px 40px;
    font-size: 32px;
    line-height: normal;
    position: absolute;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    bottom: 0;
    color: #fff
}

.related-posts .smallRelated, .related-posts .smallRelated_mod {
    float: left;
    width: 40%;
    height: 300px
}

.related-posts .smallRelated_best > div {
    height: 100% !important;
}

.related-posts .smallRelated > div, .related-posts .smallRelated_mod > div {
    height: 50%;
    width: 50%;
    float: left;
    background-size: cover;
}

.related-posts .largeRelated div a, .related-posts .smallRelated div a, .related-posts .smallRelated_mod div a {
    background-color: rgba(34, 34, 34, .5);
    height: 100%;
    position: relative;
    display: block;
}

.related-posts .largeRelated div a:hover, .related-posts .smallRelated div a:hover, .related-posts .smallRelated_mod div a:hover {
    background-color: rgba(39, 150, 178, .9);
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

.related-posts .smallRelated div h3, .related-posts .smallRelated_mod div h3 {
    padding: 10px 10px;
    line-height: normal;
    position: absolute;
    bottom: 0;
    color: #fff;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    font-size: 14px
}

.single .related-posts .post-title a {
    font-size: 14px;
    font-weight: 400
}

.single .related-posts .post-title {
    margin-bottom: 0px
}

@media only screen and (max-width: 767px) {
    .related-posts .largeRelated, .related-posts .smallRelated, .related-posts .smallRelated_mod {
        float: none;
        width: 100%
    }

    .related-posts .largeRelated div h2 {
        font-size: 22px
    }
}

@media only screen and (min-width: 720px) and (max-width: 943px) {
    .related-posts .largeRelated, .related-posts .smallRelated .related-posts .smallRelated_mod {
        float: none;
        width: 100%
    }
}

.carac
{
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding-top: 20px;
    text-align: center;
}

.carac:before
{
    margin-top: 50px;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
.smallRelatedMod > div
{
    border-width: 1px;
    height: 100% !important;
    border-color: #f5f5f5;
    border-style: double;
    border-top-width: 0px;
}

.smallRelated_long .item_carac
{
    height: 100%!important;
}

@media (max-width: 942px) {
    .smallRelated_long .item_carac
    {
        width: 100%!important;
    }
    .smallRelatedMod {
        width: 100% !important;
    }
    .smallRelatedMod .item_carac1
    {
        width: 100%!important;
        display: inline;
    }
}

.smallRelated_long, .smallRelatedMod
{
    height: 100% ;
}

.smallRelated_long > div
{
    width: 25%!important;
    border-width: 1px;
    border-color: #f5f5f5;
    border-style: double;
    border-top-width: 0px;
}

.largeRelated
{
    border-width: 1px;
    border-color: #f5f5f5;
    border-style: double;
    border-top-width: 0px;
}
/* -----------------------------
END MOZAIQUE
-------------------------------*/

















/*
 * Custom styles
 */
.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #e3f2fd;
    border-color: #080808;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}